@{
    ViewBag.Title = "Home Page";
}

Witaj, @HttpContext.Current.User.Identity.Name

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post))
    {
        <a href="javascript:document:getElementById('logoutForm').submit()">Wyloguj</a>
    }
}

<div class="jumbotron">
    <h1>CHATBOX</h1>

</div>
